.card {
    display: block;
    width: 75%;
    padding: 30px;
    background-color: var(--card-background-color-1);
    border-bottom: solid 20px var(--site-accent-color-1);

}
.card--alt-color {
    background-color: var(--card-background-color-2);
}

.card__title {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
    font-family: var(--site-font-family);
}

.card__content {
    font-family: var(--site-font-family);

    p {
        margin: 20px 0;
        font-size: 24px;
        line-height: 1.5;
    }
}