

:root {
    --site-background-color: yellow;
    --site-accent-color-1: black;
    --site-accent-color-2: yellow;
    --site-font-family: "Josefin Sans", serif;


    --banner-txt-color-1: gray;
    --banner-txt-color-2: black;
}